upstream jenkins {
  server 127.0.0.1:8080 fail_timeout=0;
}

server {
  listen 80;

  access_log  /var/log/nginx/jenkins_access.log;
  error_log   /var/log/nginx/jenkins_error.log;

  location / {
    proxy_set_header        Host $host;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass              http://jenkins;
  }

  location /waypoints {
   alias /srv/www/download.xcsoar.org/waypoints;
   autoindex on;
  }

  location /maps {
   alias /srv/www/download.xcsoar.org/maps;
   autoindex on;
  }


  location /mapgen-old {
   alias /opt/mapgen-data/;
   autoindex on;
  }

}

